NODE_ENV=development
PORT=3000

# Database (MSSQL SERVER)
DATABASE_URL="sqlserver://localhost:1433;database=sandbox;user=victor;password=mVc3@281210;trustServerCertificate=true"

# Auth / JWT
JWT_SECRET="dynamic-documents-secret-key-change-in-production-min-32-chars"
JWT_EXPIRES_IN="1d"

# Storage Configuration (local | s3)
STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=./uploads

# S3 / MinIO (When STORAGE_DRIVER=s3)
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=documents
STORAGE_FORCE_PATH_STYLE=true

# Limits & Public URLs
MAX_FILE_SIZE=10485760
PUBLIC_FORM_BASE_URL=http://localhost:5173/f
